/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background: #2C0F31;
  font-size: 1rem;
  color: #fff;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

button {
  display: inline-block;
}

 .link {
   text-decoration: none;
   color: inherit;
 }

/* Header */
.header {
  position: fixed;
  width: 100%;
}

.header-content {
  transform: translateY(0);
  padding: 1.5em 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  background: #45264b;
}

.navigation-open {
  transform: translateY(0);
  transition: transform 500ms;
}

.navigation-close {
  transform: translateY(-150%);
  transition: transform 500ms;
}

.logo-container {
  grid-column: 1 / 2;
  align-self: center;
}

.logo {
  font-size: 1.25rem;
  margin: 0;
}

.nav {
  grid-column: 2 / 4;
  justify-self: center;
}

.nav-list {
  list-style: none;
  margin: 0;
}

.form {
  display: flex;
}

.nav-toggler-container {
  display: flex;
  justify-content: flex-end;
}

.nav-toggler {
  position: absolute;
  padding: 0.5em 0.25em 0 0;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2.3rem;
  color: #fff;
  outline: 0;
  z-index: 100;
}

.search-input,
.search-btn {
  display: inline;
  font-family: 'Montserrat';
  border-radius: 25px;
  border-style: none;
  outline: 0;
}

.search-input {
  background: white;
  padding: 8px 40px 8px 10px;
  width: 150px;
  font-size: 0.75rem;
  margin: 0 1.5em 0 0;
}

.search-btn {
  position: absolute;
  margin: 0 0 0 8.5em;
  padding: 8px 15px;
  background: #a62131;
  color: #fff;
  cursor: pointer;
}

.header-lower {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 100%;
}

.header-content-lower {
  background: #45264b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 0;
}

.discover-link {
  font-size: 2.7rem;
  cursor: pointer;
}

.navigation-open-lower {
  transform: translateY(-100%);
  transition: transform 500ms;
}

.navigation-close-lower {
  transform: translateY(0);
  transition: transform 500ms;
}

@media(min-width: 425px) {
  .logo {
    font-size: 1.5rem;
  }

  .search-input {
    padding: 8px 80px 8px 10px;
    width: 250px;
    margin: 0;
  }

  .search-btn {
    margin: 0 0 0 15em;
    padding: 8px 20px;
  }

  .nav-toggler {
    padding: 0.48em 0.35em 0 0;
    font-size: 2.4rem;
  }

}

@media (min-width: 600px) {

  .logo {
    font-size: 1.75rem;
    margin: 0 1em 0 0;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 300px;
  }

  .search-btn {
    margin: 0 0 0 18.3em;
    padding: 12px 22px;
  }

  .nav-toggler {
    padding: 0.55em 0.35em 0 0;
  }

}

@media (min-width: 700px) {

  .logo {
    font-size: 2rem;
    margin: 0 2em 0 0;
  }

  .header-content {
    padding: 1.25em 3em;
  }

  .nav-toggler {
    display: none;
  }

  .navigation-close,
  .navigation-open {
    transform: translateY(0);
    transition: transform 500ms;
  }

  .search-input {
    padding: 12px 80px 12px 10px;
    width: 400px;
  }

  .search-btn {
    margin: 0 0 0 25.8em;
    padding: 12px 22px;
  }

}

/*Home*/
.container {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

div hr {
  margin: 0.7em 0 0.5em 0;
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(195, 7, 63, 0.3), rgba(195, 7, 63, 0.8), rgba(195, 7, 63, 0.3));
}

@media (min-width: 700px) {
  .main-content {
    padding-top: 4.90em;
  }
}

@media (min-width: 800px) {
  .container {
    padding: 0 7em;
  }
}

/*Footer*/
.footer {
  background: #2b2b2b;
  padding: 2em;
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column;
}

.footer-nav-list {
  margin: 1.25em 0 0 0;
}

.footer-nav-list,
.api-contact-list {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.footer-nav-item {
  margin: 0 0.5em 0 0;
  font-weight: 700;
  font-size: 1.05rem;
  padding: 0;
  cursor: pointer;
}

.footer-info {
  margin: 3em 0 0 0;
}

.footer-info-link {
  text-decoration: none;
  margin: 0 0 0 0.8em;
}

.footer-info-link,
.footer-info-link:visited,
.api-contact-link,
.api-contact-link:visited {
  color: inherit;
}

.footer-info-item span {
  margin: 0 0 0 0.8em;
}

.api-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.api-logo {
  width: 90px;
  height: 90px;
}

.api-contact {
  align-self: flex-end;
}

.api-contact-list {
  margin: 1em 0 0 0;
}

.api-contact-item {
  font-size: 1.5rem;
  margin: 0 1em 0 0;
}

.api-contact-item:last-of-type {
  margin: 0;
}

@media (min-width: 700px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .api-info {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

}

@media (min-width: 850px) {
  .footer {
    padding: 2.5em 6em;
  }
}

/*Image Carousel*/
.image-carousel {
  width: 100%;
}

.inner-carousel,
.film-detail-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 2.25em 2.25em;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
}

.image-carousel-category,
.image-carousel-title,
.image-carousel-info {
  margin: 0;
}

.image-carousel-category {
  text-transform: uppercase;
}

.image-carousel-title {
  font-size: 1.5rem;
  margin: 0.25em 0;
}

.image-carousel-info,
.image-carousel-category {
  font-size: 1rem;
}

@media (min-width: 750px) {
  .inner-carousel,
  .film-detail-img {
    min-height: 87vh;
    padding: 0 0 5em 5em;
  }
}


/* Film Card */
.film-card {
  margin: 0 0.4em;
  opacity: 0.7;
  transform: scale(0.9);
}

.film-card,
.search-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transition: transform 250ms;
  cursor: pointer;
}

.film-card:hover,
.search-item:hover {
  opacity: 1;
  transform: scale(1.0);

}

.film-card-title,
.film-card-title:visited,
.film-card-genre,
.film-card-genre:visited {
  margin: 0;
  font-size: 0.85rem;
}

.film-card-genre {
  font-size: 0.65rem;
}

.film-card-poster,
.film-detail-poster,
.film-detail-cast-img,
.search-item-poster {
  order: -1;
  height: 205px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.film-card-poster {
  height: 235px;
  width: 155px;
  border-radius: 8px;
}

.film-card-rating {
  order: -2;
  z-index: 100;
  align-self: center;
  margin: 0 0 -1.5em 0;
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.3);
}

/*film-container*/
.film-card-container {
  display: flex;
  flex-direction: column;
}

.carousel-header,
.detail-header {
  font-size: 1.4rem;
  letter-spacing: 5px;
  margin: 0;
}

.carousel-header:first-of-type {
  margin: 3em 0 1.5em 0;
}

.carousel-btns {
  order: -1;
  display: flex;
  justify-content: space-between;
}

.carousel-btn {
  color: #fff;
  opacity: 0.8;
  background: none;
  border: none;
  font-size: 2rem;
  margin: 0 0.5em -14.5em;
  z-index: 98;
}

.carousel-btn:focus {
  outline: 0;
}

/*Film Detail*/
.film-detail {
  display: flex;
  flex-direction: column;
}

.film-detail-back {
  font-size: 2rem;
  cursor: pointer;
  z-index: 100;
}

.film-detail-img {
  order: -1;
  justify-content: space-between;
  align-items: flex-start;
}

.film-detail-card {
  display: flex;
  align-items: center;
  margin: auto 0 0 0;
}

.film-detail-card-info {
  margin: 0 0 0 1.25em;
}

.film-detail-title {
  font-size: 1.75rem;
  margin: 0;
}

span .fa-star {
  margin: 0 0 0 0.25em;
  color: rgba(195, 7, 63, 1);
}

span .fa-star:first-of-type {
  margin: 0 0 0 0.5em;
}

.film-detail-status,
.film-detail-genres {
  opacity: 0.8;
}

.film-detail-genres {
  font-size: 0.9rem;
}

.film-detail-status {
  font-size: 0.9rem;
}

.film-detail-poster {
  height: 140px;
  width: 95px;
}

.overview {
  max-width: 1000px;
}

.detail-header {
  padding: 0;
  margin: 2em 0 1em 0;
}

.cast,
.film-detail-cast-item {
  display: flex;
  flex-direction: column;
}

.film-detail-cast-item {
  text-align: center;
  align-items: center;
}

.film-detail-cast-img {
  order: -1;
}

.cast-btn {
  margin: 0 0.5em -12.5em;
}

.review {
  overflow: hidden;
  box-sizing: content-box;
  background: #2b2b2b;
  padding: 1em 2em;
  margin: 3em 0;
  border-right: 6px solid #fff;
  max-width: 1000px;
}

.review:first-of-type {
  margin: 2em 0 3em 0;
}

.review:last-of-type {
  margin: 1.5em 0;
}

.review:nth-child(odd) {
  border-right: 0;
  border-left: 6px solid #fff;
}

.review-reviewer {
  font-size: 1.10rem;
}

.overview,
.review-content {
  line-height: 1.6;
}

.review-link {
  opacity: 0.7;
}

.review-link i {
  font-size: 0.8rem;
  margin-left: 5px;
}

.review-link span:hover{
  padding-right: 0.5em;
  transition: all 0.8s ease;

}

@media (min-width: 700px) {
  .film-detail-back {
    z-index: 98;
  }
}

/* Search */
.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.search-header {
  text-align: center;
  font-size: 1.5em;
  padding: 3em 0 0 0;
  margin: 0.5em 0 2em 0;
  letter-spacing: 3px;
  line-height: 1.6;
  text-transform: uppercase;
}

.search-header::after {
  content: '';
  display: block;
  height: 1px;
  background-color: rgba(195, 7, 63, 1);
  width: 5em;
  margin: 1em auto 0;
}

.search-item {
  grid-column: auto;
  opacity: 0.9;
  transform: scale(0.95);
  margin: 0 0 2em 0;
}

.search-item-poster {
  height: 225px;
  width: 150px;
  border-radius: 10px;
}

.switch-page-btns {
  display: flex;
  justify-content: center;
}

.switch-page-btn {
  background: rgba(195, 7, 63, 0.3);
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  padding: 8px 30px;
  min-width: 130px;
  max-width: 140px;
}

.switch-page-btn,
.discover-btn {
  font-family: 'Montserrat';
  margin: 0 2em 2em;
  color: #fff;
  transform: scale(1);
  transition: transform 250ms;
}

.switch-page-btn:hover,
.discover-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 650px) {
  .search-header {
    margin: 2em 0;
  }
}


@media (min-width: 1000px) {
  .search-grid {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }

  .search-item-poster {
    height: 260px;
    width: 175px;
  }
}

/*Discover*/
.discover {
  padding: 0.25em 0;
}

.discover-form {
  margin: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-inputs {
  margin: 0 0 3em 0;
}

.discover-input {
  padding: 10px 0 10px 5px;
  background: rgba(195, 7, 63, 0.3);
  border-radius: 8px;
  font-size: 0.9rem;
  border: none;
  color: white;
  min-width: 85px;
  max-width: 85px;
  text-align: left;
}

.discover-input:nth-of-type(2) {
  margin: 0 1em;
}

.discover-input::placeholder {
  opacity: 1;
  color: #fff;
}

.discover-btn {
  background: #303030;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 1.25rem;
  border: 1px solid white;
  min-width: 110px;
  max-width: 110px;
}

@media (min-width: 425px) {
  .discover-input {
    min-width: 120px;
    max-width: 120px;
  }
}

@media (min-width: 700px) {
  .discover-input:nth-of-type(2) {
    margin: 0 3em;
  }

  .discover-input {
    min-width: 150px;
    max-width: 150px;
  }

}
