/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background: #2C0F31;
  font-size: 1rem;
  color: #fff;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

button {
  display: inline-block;
}

 .link{
   text-decoration: none;
   color: inherit;
 }

/*Home*/
.container {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  position: fixed;
  top: 50%;
  right: 53%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

div hr {
  margin: 0.7em 0 1em 0;
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(195, 7, 63, 0.3), rgba(195, 7, 63, 0.8), rgba(195, 7, 63, 0.3));
}

@media (min-width: 800px) {
  .container {
    padding: 0 8em;
  }
}

/*Image Carousel*/
.image-carousel {
  width: 100%;
}

.inner-carousel,
.film-detail-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 2.25em 2.25em;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
}

.image-carousel-category,
.image-carousel-title,
.image-carousel-info {
  margin: 0;
}

.image-carousel-category {
  text-transform: uppercase;
}

.image-carousel-title {
  font-size: 1.5rem;
  margin: 0.25em 0;
}

.image-carousel-info,
.image-carousel-category {
  font-size: 1rem;
}

@media (min-width: 750px) {
  .inner-carousel,
  .film-detail-img {
    min-height: 100vh;
    padding: 0 0 5em 5em;
  }
}


/* Film Card */
.film-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 0.4em;
  transform: scale(0.9);
  transition: transform 250ms;
  opacity: 0.7;
}

.film-card:hover {
  opacity: 1;
  transform: scale(1.0);
}

.film-card-title,
.film-card-title:visited,
.film-card-genre,
.film-card-genre:visited {
  margin: 0;
  font-size: 0.85rem;
}

.film-card-genre {
  font-size: 0.65rem;
}

.film-card-poster,
.film-detail-poster,
.film-detail-cast-img {
  order: -1;
  height: 205px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.film-card-rating {
  order: -2;
  z-index: 100;
  align-self: center;
  margin: 0 0 -1.5em 0;
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.3);
}

/*film-container*/
.film-card-container {
  display: flex;
  flex-direction: column;
}

.carousel-header,
.detail-header {
  font-size: 1.3rem;
  padding-left: 0.6em;
  letter-spacing: 5px;
  margin: 0;
}

.carousel-header:first-of-type {
  margin: 3em 0 1.5em 0;
}

.carousel-btns {
  order: -1;
  display: flex;
  justify-content: space-between;
}

.carousel-btn {
  color: #fff;
  opacity: 0.6;
  background: none;
  border: none;
  font-size: 2rem;
  margin: 0 0.5em -14.5em;
  z-index: 100;
}

.carousel-btn:focus {
  outline: 0;
}

/*Film Detail*/
.film-detail {
    display: flex;
    flex-direction: column;
}

.film-detail-back {
  font-size: 1.5rem;
  cursor: pointer;
}

.film-detail-img {
  order: -1;
  justify-content: space-between;
}

.film-detail-card {
  display: flex;
}

.film-detail-card-info {
  margin-left: 2em;
}

.film-detail-poster {
  height: 140px;
  width: 95px;
}

.overview {
  max-width: 900px;
}

.detail-header {
  padding: 0;
  margin: 2em 0 1em 0;
}

.cast,
.film-detail-cast-item {
  display: flex;
  flex-direction: column;
}

.film-detail-cast-item {
  text-align: center;
  align-items: center;
}

.film-detail-cast-img {
  order: -1;
}

.cast-btn {
  margin: 0 0.5em -12.5em;
}
