/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background: #2C0F31;
  font-size: 1rem;
  color: #fff;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

button {
  display: inline-block;
}

 .link {
   text-decoration: none;
   color: inherit;
 }

/* Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-content {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100%;
  transform: translateY(0);
  padding: 2em 2em;
}

.header-content,
.nav-list {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #000;
}

.form {
  margin: 0 auto;
}

.navigation-open {
  transform: translateY(0);
  transition: transform 500ms;
}

.navigation-close {
  transform: translateY(-150%);
  transition: transform 500ms;
}

.logo {
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.nav-toggler-container {
  display: flex;
  justify-content: flex-end;
}

.nav-toggler {
  position: absolute;
  z-index: 100;
  background: none;
  border: none;
  font-size: 2.7rem;
  color: #fff;
}

.search,
.search-btn {
  background: white;
  border-radius: 5px;
}

.search-btn {
  position: absolute;
}

@media (min-width: 700px) {

  .header-content {
    padding: 1.25em 4em;
  }

  .nav-toggler {
    display: none;
  }

  .navigation-close,
  .navigation-open {
    transform: translateY(0);
    transition: transform 500ms;
  }

}

/*Home*/
.container {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  position: fixed;
  top: 50%;
  right: 55%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

div hr {
  margin: 0.7em 0 1em 0;
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(195, 7, 63, 0.3), rgba(195, 7, 63, 0.8), rgba(195, 7, 63, 0.3));
}

@media (min-width: 800px) {
  .container {
    padding: 0 8em;
  }
}

/*Image Carousel*/
.image-carousel {
  width: 100%;
}

.inner-carousel,
.film-detail-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 2.25em 2.25em;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 60vh;
}

.image-carousel-category,
.image-carousel-title,
.image-carousel-info {
  margin: 0;
}

.image-carousel-category {
  text-transform: uppercase;
}

.image-carousel-title {
  font-size: 1.5rem;
  margin: 0.25em 0;
}

.image-carousel-info,
.image-carousel-category {
  font-size: 1rem;
}

@media (min-width: 750px) {
  .inner-carousel,
  .film-detail-img {
    min-height: 100vh;
    padding: 0 0 5em 5em;
  }
}


/* Film Card */
.film-card {
  margin: 0 0.4em;
  opacity: 0.7;
}

.film-card,
.search-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  transform: scale(0.9);
  transition: transform 250ms;
  cursor: pointer;
}

.film-card:hover,
.search-item:hover {
  opacity: 1;
  transform: scale(1.0);

}

.film-card-title,
.film-card-title:visited,
.film-card-genre,
.film-card-genre:visited {
  margin: 0;
  font-size: 0.85rem;
}

.film-card-genre {
  font-size: 0.65rem;
}

.film-card-poster,
.film-detail-poster,
.film-detail-cast-img,
.search-item-poster {
  order: -1;
  height: 205px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

.film-card-rating {
  order: -2;
  z-index: 100;
  align-self: center;
  margin: 0 0 -1.5em 0;
  padding: 2px 3px;
  background: rgba(0, 0, 0, 0.3);
}

/*film-container*/
.film-card-container {
  display: flex;
  flex-direction: column;
}

.carousel-header,
.detail-header {
  font-size: 1.3rem;
  padding-left: 0.6em;
  letter-spacing: 5px;
  margin: 0;
}

.carousel-header:first-of-type {
  margin: 3em 0 1.5em 0;
}

.carousel-btns {
  order: -1;
  display: flex;
  justify-content: space-between;
}

.carousel-btn {
  color: #fff;
  opacity: 0.6;
  background: none;
  border: none;
  font-size: 2rem;
  margin: 0 0.5em -14.5em;
  z-index: 100;
}

.carousel-btn:focus {
  outline: 0;
}

/*Film Detail*/
.film-detail {
    display: flex;
    flex-direction: column;
}

.film-detail-back {
  font-size: 1.5rem;
  cursor: pointer;
}

.film-detail-img {
  order: -1;
  justify-content: space-between;
  align-items: flex-start;
}

.film-detail-card {
  display: flex;
  align-items: center;
  margin: auto 0 0 0;
}

.film-detail-card-info {
  margin-left: 1.25em;
}

.film-detail-title {
  font-size: 1.75rem;
}

.film-detail-poster {
  height: 140px;
  width: 95px;
}

.overview {
  max-width: 900px;
}

.detail-header {
  padding: 0;
  margin: 2em 0 1em 0;
}

.cast,
.film-detail-cast-item {
  display: flex;
  flex-direction: column;
}

.film-detail-cast-item {
  text-align: center;
  align-items: center;
}

.film-detail-cast-img {
  order: -1;
}

.cast-btn {
  margin: 0 0.5em -12.5em;
}

.review {
  overflow: hidden;
  box-sizing: content-box;
  background: #2b2b2b;
  padding: 1em 2em;
  margin: 3em 0;
  border-right: 6px solid #fff;
}

.review:first-of-type {
  margin: 2em 0 3em 0;
}

.review:nth-child(odd) {
  border-right: 0;
  border-left: 6px solid #fff;
}

.review-reviewer {
  font-size: 1.10rem;
}

.review-content {
  max-width: 800px;
}

.overview,
.review-content {
  line-height: 1.6;
}

.review-link {
  opacity: 0.7;
}

.review-link i {
  font-size: 0.8rem;
  margin-left: 5px;
}

.review-link span:hover{
  padding-right: 0.5em;
  transition: all 0.8s ease;

}

/* Search */
.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.search-header {
  text-align: center;
  padding: 3em 0 0 0;
  margin: 0 0 2em 0;
}

.search-item {
  grid-column: auto;
  opacity: 0.9;
}

.search-item-poster {
  height: 250px;
  width: 150px;
  border-radius: 8px;
}

@media (min-width: 1000px) {
  .search-item-poster {
    height: 250px;
    width: 150px;
  }
}
