/* General */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  background: #2C0F31;
  font-size: 1rem;
  color: #fff;
}

img {
  width: 100%;
  object-fit: contain;
  display: block;
}

button {
  display: inline-block;
}

/*Home*/
.home {
  padding: 0 2em;
  display: flex;
  flex-direction: column;
}

.loading-icon {
  position: fixed;
  top: 50%;
  right: 52%;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

div hr {
  margin: 0.7em 0 4em 0;
  border : 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(195, 7, 63, 0), rgba(195, 7, 63, 0.3), rgba(195, 7, 63, 0));
}

@media (min-width: 800px) {
  .home {
    padding: 0 8em;
  }
}

/* Film Card */
.link {
  text-decoration: none;
}

.film-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 0.4em;
  transform: scale(0.9);
  transition: transform 250ms;
  opacity: 0.7;
}

.film-card:hover {
  opacity: 1;
  transform: scale(1.0);
}

.film-card-title,
.film-card-title:visited,
.film-card-genre,
.film-card-genre:visited {
  margin: 0;
  font-size: 0.85rem;
  color: #fff;
}

.film-card-genre {
  font-size: 0.65rem;
}

.film-card-poster {
  order: -1;
  height: 205px;
  width: 130px;
  border-radius: 5px;
  object-fit: cover;
}

/*film-container*/
.film-card-container {
  display: flex;
  flex-direction: column;
}

.carousel-header {
  font-size: 1.3rem;
  padding-left: 0.6em;
  letter-spacing: 5px;
  margin: 0 0 1.5em 0;
}

.carousel-btns {
  order: -1;
  display: flex;
  justify-content: space-between;
}

.carousel-btn {
  color: #E3AFBC;
  background: none;
  border: none;
  font-size: 2rem;
  margin: 0 0.5em -10em;
  z-index: 100;
}

.carousel-btn:focus {
  outline: 0;
}

/*Film Detail*/
.film-detail {
    display: flex;
    flex-direction: column;
}

.film-detail-img {
  width: 100%;
  order: -1;
}
